<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Utility</title>
<!--
<link rel="stylesheet" href="index.css" type="text/css">
-->
<style type="text/css">
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

}

#container{
display:flex;
justify-content: center;
align-items: center;
min-height:100vh;
padding:20px;
background:#eee;
}

#container2{
position:absolute;
min-width:280px;
min-height:450px;
border-radius:15px;
padding:10px;
display:flex;
justify-content: center;
align-items: center;
box-shadow:15px 15px 30px rgba(0, 0, 0, 0.3);
background: white;
}

</style>
</head>
<body>

<div id="container">
	<div id="container2">
		<h1 id="title">Utility Section</h1>
	</div>
</div>

</body>
</html>